@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#nav {
  z-index: 9999 !important;
  width: 100vw !important;
  height: 12vh !important;
  top: 0 !important;
  left: 0 !important;
  margin-bottom: 4vh !important;
  display: flex !important;
  margin-bottom: 13vh !important;
  padding: 4vh 5vh !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-family: "Poppins", sans-serif !important;
  border-bottom: 1px solid rgb(101, 99, 99) !important;
  position: fixed !important;
  background-color: white !important;
}

#nav h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}

#navtext a {
  font-size: 2.87vh;
  text-decoration: none;
  color: black;
  gap: 5vh;
}

#navtext {
  display: flex;
  gap: 3.5vh;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding-right: 5vh;
}

#navtext a:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#navtext a:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#navtext a:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#herotext {
  margin: 10vh 4vh !important;
  font-family: "bolde";
  font-size: 8vw;
  line-height: 13.4vw;
}

.heroinnertext {
  color: black;
  white-space: nowrap;
  letter-spacing: -2.2vh;
  padding-left: -2vh;
}

.change {
  letter-spacing: -2vh;
  text-transform: uppercase;
}

#page1 {
  margin-left: 9vh;
  font-family: "Mukta", sans-serif;
  object-fit: cover;
  margin-right: 1vw;
  margin-top: 25vh;
  color: black;
}

#herotext h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13vw !important;
  line-height: 11.4vw !important;
}

#page1last {
  padding: 5vh 21vh;
  width: 70%;
  font-family: "Roboto", sans-serif;
}

.box {
  display: flex;
  gap: 9vh;
  position: relative;
  top: 15vh;
}

.card {
  width: 25vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4vh;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}

#allbox {
  font-family: "Roboto", sans-serif !important;
  justify-content: space-evenly !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 9vh !important;
}

#allbox a {
  text-decoration: none !important;
  color: black;
}

#allbox p {
  font-family: "Poppins", sans-serif !important;
}

.stroke {
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2.3px rgb(0, 0, 0);
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.containerform {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vh;
  margin-top: 13vh;
  border-radius: 5px;
  padding: 25px;
}

.actualform {
  background-color: rgb(15, 15, 15);
  border-radius: 32px;
  opacity: 0.9;
  padding: 6vh 7vh;
  width: 80vw !important;
  height: 100vh;
  line-height: 1px;
}

.containerform img {
  width: 50%;
}

.footer {
  margin-top: 25vh;
  background-color: rgb(18, 18, 18);
}

footer {
  background-color: #0e0e0e;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10vh;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #fff;
}

.submitbutton {
  height: 40px;
  background-color: #04aa6d;
  color: white;
  padding: 1vh 2vh;
  border-radius: 5px;
  margin-top: 4vh;
}

.submitbutton:hover {
  background-color: white;
  color: #04aa6d;
}

.formhead {
  margin-bottom: 3vh;
  color: white;
  letter-spacing: 1.5px;
}

.showcontainer img {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.showcontainer {
  width: 100vh;
  position: relative;
  margin: auto;
  margin-top: 20vh;
}

.butons {
  padding-left: 19.4vw ;
  display: flex;
  gap: 3vh;
}

#cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  background-color: rgba(224, 139, 189, 0.814);
  border-radius: 50%;
  position: absolute;
  left: -5vh;
  top: -5vh;
  opacity: 0;
}

label {
  color: white;
}

.editform {
  position: relative;
  margin-top: 16vh;
  background-color: #0e0e0e;
}

.error {
  width: fit-content;
  height: 10vh;
  position: relative;
  top: 15vh;
  margin-bottom: 55vh;
}

.rating {
  color : black;
}

.reviews {
  width: 55%;
  position: relative;
  left: 19.5vw;
  margin-top: 4vw;
}

.star span {
  font-style: italic;
}

.reviewname {
  text-transform: uppercase;
}

.reviewheading {
  margin-top: 9vh;
  position: relative;
  margin-left: 19vw;
}

.flash {
  position: absolute;
  left: 40vw;
  top: 12vh;
  height: 9vh;
}

.signup {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  position: relative;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 60vh;
}

.form-label {
  color:  black;
}

.signupheading {
  position: absolute;
  top: 20vh;
}

/* CSS */
.signupbtn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signupbtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.signupbtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#Password {
  position: relative;
  margin-bottom: 2vh;
}