@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  position: relative;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bodycontainer {
  overflow: hidden;
}

.searchitems {
  position: relative;
  margin-top: 17vh;
}

#nav {
  z-index: 9999 !important;
  width: 100vw !important;
  height: 12vh !important;
  top: 0 !important;
  left: 0 !important;
  margin-bottom: 4vh !important;
  display: flex !important;
  margin-bottom: 13vh !important;
  padding: 4vh 5vh !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-family: "Poppins", sans-serif !important;
  border-bottom: 1px solid rgb(101, 99, 99) !important;
  position: fixed !important;
  background-color: white !important;
}

.navhead {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  font-weight: bold;
}

#navtext a {
  font-size: 2.87vh;
  text-decoration: none;
  color: black;
  gap: 5vh;
  text-decoration: none;
}

#navtext {
  display: flex;
  gap: 3.5vh;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding-right: 5vh;
}

#navtext a:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#navtext a:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#navtext a:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.box {
  display: flex;
  gap: 9vh;
  position: relative;
}

.card {
  width: 22vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: vh;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}

#allbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vh;
}

#allbox a {
  text-decoration: none !important;
  color: black;
}

#allbox p {
  font-family: "Poppins", sans-serif !important;
}

.stroke {
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2.3px rgb(0, 0, 0);
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.footer {
  margin-top: 25vh;
  background-color: rgb(18, 18, 18);
}

footer {
  background-color: #0e0e0e;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10vh;
  align-items: center;
}

.icons > i {
  cursor: pointer;
  opacity: 0.8;
}

.icons > i:hover {
  opacity: 1;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10vh;
}

.icons {
  font-size: 2.3vw;
  margin: 0vh 2vh;
}

#map {
  height: 50vh;
  width: 50vw;
}

.mapcontainer {
  position: relative;
  left: 4.89vw;
}

.submitbutton {
  height: 40px;
  background-color: #04aa6d;
  color: white;
  padding: 1vh 2vh;
  border-radius: 5px;
  margin-top: 4vh;
}

.submitbutton:hover {
  background-color: white;
  color: #04aa6d;
}

.formhead {
  margin-bottom: 3vh;
  color: white;
  letter-spacing: 1.5px;
}

.showcontainer img {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.showcontainer {
  width: 100vh;
  position: relative;
  margin: auto;
  margin-top: 20vh;
}

.butons {
  padding-left: 10vw;
  display: flex;
  gap: 3vh;
}

#cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  background-color: rgba(224, 139, 189, 0.814);
  border-radius: 50%;
  position: absolute;
  left: -5vh;
  top: -5vh;
  opacity: 0;
}

label {
  color: white;
}

.editform {
  position: relative;
  margin-top: 16vh;
}

.error {
  width: fit-content;
  height: 10vh;
  position: relative;
  top: 15vh;
  margin-bottom: 55vh;
}

.rating {
  color: black;
}

.reviews {
  width: 55%;
  position: relative;
  left: 9.5vw;
  margin-top: 4vw;
}

.star span {
  font-style: italic;
}

.reviewname {
  text-transform: uppercase;
}

.reviewheading {
  margin-top: 9vh;
  position: relative;
  margin-left: 28vw;
}

.flash {
  position: absolute;
  left: 28vw;
  top: -8.1vh;
  z-index: 99999;
  height: 9vh;
}

.signupform {
  position: relative;
  top: 15vh;
  margin-bottom: 16vw;
}

.loginform {
  position: relative;
  top: 15vh;
  margin-bottom: 18vw;
}

.form-label {
  color: black;
}

.signupheading {
  position: absolute;
  top: 20vh;
}

/* CSS */
.signupbtn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signupbtn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.signupbtn:hover:after {
  transform: translate(0, 0);
}

.signupbtn:active {
  background-color: #ffdeda;
  outline: 0;
}

.signupbtn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .signupbtn {
    padding: 0 40px;
  }
}

#Password {
  position: relative;
  margin-bottom: 2vh;
}

#newform {
  position: relative;
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.newimg {
  position: absolute;
  top: 0vh;
  left: 54rem;
}

.newpos {
  position: relative;
  top: 5vh;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 39vh;
  left: 38vw;
  visibility: hidden;
  z-index: 9998;
}

.newheading {
  position: relative;
  margin-bottom: -12vh;
}

.searchform {
  display: flex;
  position: relative;
  left: 1.5vh;
  bottom: 0.7vh;
  gap: 1.5vh;
}

.categoryform {
  display: flex;
  gap: 1vh;
  flex-direction: row;
}

.nav-toggle {
  display: none;
}

.icontext > i {
  font-size: 1.2vw;
  color: black;
  opacity: 0.7;
}

.icontext > i:hover {
  opacity: 1;
}

.icontext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryitems {
  display: flex;
  gap: 0.5vh;
}

.category-icons > a {
  text-decoration: none;
  color: black;
}

.category-icons {
  display: flex;
  gap: 2.2vh;
}

.searchitems {
  display: flex;
  position: relative;
  gap: 1vh;
  margin-bottom: 2vh;
}

#reviewbox {
  position: relative;
  left: 5vw;
}

@media (max-width: 425px) {
  
  #navtext {
    display: flex;
    flex-direction: column;
    top: 10vh;
    right: 0.001vh;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: white;
  }

  .nav-toggle {
    display: block;
    font-size: 4vw;
  }

  .navhead{
    font-size: 5vh;
  }

}

/* Large devices (laptops, desktops) */
@media (max-width: 1024px) {
  .searchbox {
    position: relative;
    right: 12vh;
  }

  .newheading {
    position: relative;
    margin-left: 19vh;
  }

  #newform {
    position: absolute;
    left: 13.5vw;
  }

  #nav {
    height: 12vh;
    padding: 2vh 5vh;
    font-size: 2vw;
  }

  .navhead {
    font-size: 2.5vw;
  }

  #navtext a {
    font-size: 3.2vh;
    text-decoration: none;
    color: black;
    position: relative;
    left: 4vh;
    text-decoration: none;
  }

  .newimg {
    display: none;
  }

  #allbox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0.9vh;
  }

  #map {
    height: 60vh;
    width: 70vw;
  }

  .icontext > i {
    font-size: 2vw;
    color: black;
    opacity: 0.7;
  }

  .signupform {
    position: relative;
    bottom: 1.2vh;
  }

  .signupbtn {
    padding: 0px 18px;
  }

  .footer {
    position: absolute;
    width: 100vw;
  }
  /* Additional adjustments as needed */
}

@media only screen and (max-width: 1440px) {
  .searchitems {
    position: relative;
    left: 17vh;
  }

  .searchform {
    position: relative;
    bottom: 2vh;
  }

  #allbox {
    position: relative;
    left: 9vh;
  }

  .flash {
    position: absolute;
    left: 34vw;
    top: -15vh;
    height: 9vh;
    display: flex;
    align-items: center;
  }

  .butons {
    padding-left: 19.5vw;
    display: flex;
    gap: 3vh;
  }

  .reviews {
    width: 55%;
    position: relative;
    left: 20vw;
    margin-top: 4vw;
  }

  .newimg {
    position: absolute;
    top: 0vh;
    left: 44rem;
  }

  .reviewheading {
    margin-top: 9vh;
    position: relative;
    margin-left: 39vw;
  }

  #newform {
    position: relative;
    margin-top: 12vh;
    margin-bottom: 19vh;
  }

  #map {
    height: 55vh;
    width: 55vw;
  }

  .showcontainer {
    width: 100vh;
    position: relative;
    margin: auto;
    margin-top: 15vh;
  }

  .mapcontainer {
    position: relative;
    left: 12.5vw;
  }

  .card {
    width: 27vw;
  }
}
