<div class="searchbox">
  <div class="searchitems">
  
            <div class="category-icons">
                      <a href="/category?category=mountain"> <!-- Link each icon to its corresponding category -->
                                <div class="icontext">
                                          <i class="fa-solid fa-mountain"></i>
                                          mountain
                                </div>
                      </a>
                      <a href="/category?category=forest">
                                <div class="icontext">
                                          <i class="fa-solid fa-tree"></i>
                                          forest
                                </div>
                      </a>
            
                      <a href="/category?category=hills">
                                <div class="icontext">
                                          <i class="fa-solid fa-hill-avalanche"></i>
                                          hills
                                </div>
                      </a>
                      <a href="/category?category=swim">
                                <div class="icontext">
                                          <i class="fa-solid fa-person-swimming"></i>
                                          swim
                                </div>
                      </a>
                     
                      <a href="/category?category=villa">
                                <div class="icontext">
                                          <i class="fa-solid fa-building"></i>
                                           villa
                                </div>
                      </a>
                      <a href="/category?category=warehouse">
                                <div class="icontext">
                                          <i class="fa-solid fa-warehouse"></i>
                                           warehouse
                                </div>
                      </a>
                      <a href="/category?category=city">
                                <div class="icontext">
                                          <i class="fa-solid fa-city"></i>
                                           city
                                </div>
                      </a>
                      <a href="/category?category=castle">
                                <div class="icontext">
                                  <i class="fa-solid fa-chess-rook"></i>
                                      castle
                                </div>
                      </a>
                      <a href="/category?category=boat">
                                <div class="icontext">
                                  <i class="fa-solid fa-ship"></i>
                                      boat
                                </div>
                      </a>
                      <a href="/category?category=trending">
                                <div class="icontext">
                                  <i class="fa-solid fa-fire"></i>
                                      trending
                                </div>
                      </a>
                    
                      <!-- Add other category icons -->
            </div>
  
            <form action="/search" method="GET" class="col-4 searchform">
              <input type="text" name="searchText" placeholder="Search..." />
              <button type="submit" class="mb-3 signupbtn">Search</button>
            </form>
  </div>
</div>



