<!-- HTML code for the footer -->
<footer class="footer">
    <div class="footer-container">
               <h1>Welcome to Wanderlust</h1>
               <h3>&copy; 2023</h3>
               <div class="icons">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-github"></i>
               </div>
      </div>
  </footer>
  