<div id="page1">
  <div id="herotext">
    <div class="animation">
      <h1 class="item change">change</h1>
    </div>
    <div class="animation">
      <h1 class="heroinnertext item stroke hrv">the travel</h1>
    </div>
  </div>

  <div id="page1last">
    <h2>
      Do you love to travel and explore new places? Do you have a passion for
      adventure and discovery? If you answered yes to any of these questions,
      then you should book your next trip with Wander Lust. Wander Lust is a
      travel company that specializes in creating unforgettable journeys for
      travelers who want to see the world in a different way.
    </h2>
  </div>
</div>
