<nav>
  <div id="nav">
    <h1 class="magnet">Wanderlust.</h1>
    <div id="navtext">
      <a href="/list" class="magnet">Home <span class="material-symbols-outlined">
        home
        </span></a>
      <a href="#allbox" class="magnet">All List <span class="material-symbols-outlined">
        expand_more
        </span></a>
      <a href="/list/new" class="magnet">
        New
        <span class="material-symbols-outlined">
          add_business
          </span>
      </a>
    </div>
  </div>
</nav>
