<nav >

  <div id="nav" >
    <h1 class="magnet"><a href="/" class="navhead">Wanderlust.</a></h1>
    <div id="navtext">
      <a href="/#allbox" class="magnet">Explore</a>
      <a href="/list/new" class="magnet">New</a>

      <% if(curruser) {%>
      <a href="/logout" class="magnet">Logout</a>
      <% } %> <% if(!curruser) { %>
      <a href="/signup" class="magnet">Signup</a>
      <a href="/login" class="magnet">Login</a>
      <% } %>
    </div>
    <a href="#" class="nav-toggle">
      <i class="fa-solid fa-bars"></i>
    </a>
  </div>

  
</nav>