<%- layout('layout/Boilerplate.ejs') %>
<body>
    <div class="mt-5 loginform col-lg-4 offset-4">
      <h1>Login page</h1>
      <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mt-2">
          <label for="username" class="form-label">Username</label>
          <br />
          <input
            type="text"
            id="username"
            placeholder="Tony stark"
            class="form-control col-md-4"
            required
            name="username"
          />
          <div class="invalid-feedback">Please provide a Username.</div>
        </div>

        <div class="mt-2">
          <label for="username" class="form-label">Password</label>
          <br />
          <input
            type="password"
            id="username"
            placeholder="Strong password"
            class="form-control col-md-4"
            required
            name="password"
          />
          <div class="invalid-feedback">Please provide a Username.</div>
        </div>
        <button class="signupbtn mb-5 mt-3">Submit</button>
      </form>
    </div>
  </body>

<script src="/script/validation.js"></script>
