<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>

    <ul>
        <% results.forEach(function(result) { %>
            <li>Title: <%= result.title %>, Location: <%= result.location %></li>
            <!-- Add other fields you want to display -->
        <% }); %>
    </ul>
</body>
</html>
